.dock {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 1000;

  .box {
    width: 700px;
    margin: 0 auto;
    background: #444449;
    border-radius: 4px;
    overflow: hidden;

    .body {
      text-align: center;
      margin: 20px 0;

      .button {
        margin: 6px;
      }
    }

    .footer {
      margin: 15px;
      text-align: center;
      font-size: 12px;
      color: #979797;

      .link {
        padding-bottom: 3px;
        border-bottom: 1px dashed;
        cursor: pointer;

        &:hover {
          color: white;
        }

        + .link {
          margin-left: 15px;
        }
      }
    }
  }
}
